body {
  background-color: #000000;
  color: #ffffff;
  font-family: arial, helvetica, verdana;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

.cell {
  line-height: 1.1;
}

.minutes_left {
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}

.actual_departure_time {
  color: #c824e9;
  padding-left: 10px;
  padding-right: 10px;
}

.scheduled_departure_time {
  padding-left: 10px;
  padding-right: 10px;
}

.direction {
  padding-left: 10px;
  padding-right: 10px;
}

#current_time {
  margin-top: 0;
  margin-bottom: 5px;
}
/* 
.row .cell {
  font-family: Poppins-Regular;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  font-weight: unset !important;
  padding-right: 10px;
} */
